<div ng-controller="AlertController">
    <div class="alert alert-{{message.type}} fadein fadeout ng-hide" ng-show="message.show">
        <strong>{{message.header}}</strong> {{message.body}}
    </div>
</div>