<div class="block well" ng-show="!history.length">
    <h4>Get Started</h4>
    <p>Search by restaurant name or food and I'll fetch the closest eateries to your location (via Yelp).</p>
</div>

<div class="block well" ng-show="history.length && !loading && !businesses.length">
    <h4>Uhoh, try again!</h4>
    <p>No results for <b>{{history[0].keywords}}</b> near "{{history[0].location}}" (within {{history[0].radius/1000}} km).</p>
</div>

<div class="block" ng-show="loading">
    <img src="images/loading-spinner-large.gif" class="loading-spinner" alt="Loading...">
</div>

<ul class="list-group business-list">    
    <li class="list-group-item clearfix" ng-repeat="business in businesses">
        <div class="media">
            <a class="pull-left" href="#">
                <img ng-src="{{business.image_url}}" class="photo" ng-hide="!business.image_url">                
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    {{business.name}} - {{business.location.address[0]}}, {{business.location.city}}, {{business.location.state_code}}
                </h4>
                <p class="media-meta">
                    <span ng-hide="!business.review_count">
                        Reviews: {{business.review_count}}
                    </span>
                    <span ng-hide="!business.rating">
                        Rating: {{business.rating}}
                    </span>
                    <span ng-hide="!business.rating_img_url">
                        <img ng-src="{{business.rating_img_url}}">
                    </span>
                </p>
                <p class="media-review" ng-hide="!business.snippet_text">
                    "<i>{{business.snippet_text}}</i>"
                </p>
                <p>
                    <button class="btn btn-primary btn-sm" ng-click="getBusiness(business.id)">Details</button>
                </p>
            </div>
        </div>
    </li>
</ul>