<div ng-controller="HistoryController">
    <div ng-show="history().length" class="panel panel-default history-list">
        <div class="panel-heading">
            <h3 class="panel-title">Recent</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="query in history()">
                    <a href="#" ng-click="search(query)">
                        <b>{{query.keywords}}</b> near "{{query.location}}" (within {{query.radius/1000}} km)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>