<div class="block well" ng-show="!loading && !meta()">
    <h4>Get Started</h4>
    <p>Search by restaurant name or food and I'll fetch the closest eateries to your location (via Yelp).</p>
</div>

<div class="block well" ng-show="!loading && meta() && !meta().total">
    <h4>Uhoh, try again!</h4>
    <p>No results for <b>{{current().keywords}}</b> near "{{current().location}}" (within {{current().radius/1000}} km).</p>
</div>