<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Restaurant API</span>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container theme-showcase" role="main">  
    <div class="page-header">
        <h1>Yelp Results</h1>
    </div>
    <div class="row" ng-controller="SearchController">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                </div>
                <div class="panel-body">
                    <% include components/search.ejs %>
                </div>
            </div>
        </div><!--/.col-sm-3-->
        
        <div class="col-sm-9">
            <% include components/businesses.ejs %>
        </div><!--/.col-sm-9-->    
    </div><!--/row-->
</div><!--/container-->