<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">Restaurant API</span>
        </div>
    </div>
</div>

<!-- Content -->
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h1>Yelp Results</h1>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            <% include components/search.ejs %>        
            <% include components/history.ejs %>
        </div><!--/.col-sm-3-->
        
        <div class="col-sm-9">            
            <% include components/alert.ejs %>
            
            <div ng-controller="BusinessController">
                <% include components/messages.ejs %>
                <% include components/businesses.ejs %>
            </div>
            
            <% include components/pagination.ejs %>
        </div><!--/.col-sm-9-->    
    </div><!--/row-->
</div><!--/container-->